<sc-nav-bar  [dashboardActive]=true ></sc-nav-bar>
<div class="container">
  <div class="card-group">
    <div class="card text-center mr-3 ml-3" routerLink="/portfolio/Equity" id="portfolioCard">
      <app-card
        imgSrc="../../../assets/pie-chart.png"
        imgId="portfolioImg"
        cardTitle="Portfolio"
        cardSubText="View your current portfolio"
      ></app-card>
    </div>

    <div class="card text-center mr-3 ml-3" routerLink="/buy" id="buyCard">
      <app-card
        imgSrc="../../../assets/cart.png"
        imgId="buyImg"
        cardTitle="Buy securities"
        cardSubText="Buy securities with just a few clicks!"
      ></app-card>
    </div>
    
    <div class="card text-center mr-3 ml-3" routerLink="/sell" id="sellCard">
      <app-card
        imgSrc="../../../assets/save-money.png"
        imgId="sellImg"
        cardTitle="Sell securities"
        cardSubText="Sell securities instantly!"
      ></app-card>
    </div>

    <div class="card text-center mr-3 ml-3" routerLink="/trade-history" id="historyCard">
      <app-card
        imgSrc="../../../assets/money-back-guarantee.png"
        imgId="historyImg"
        cardTitle="Trade history"
        cardSubText="View your trade history"
      ></app-card>
    </div>
    
    
  </div>
</div>
