<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
    <div class="icon" id="hamburger-icon" >
        <i class="fa fa-bars fa-lg"></i>
    </div>
    <div class="navbar">
    <ul>
        <li>
            <sc-nav-bar-link></sc-nav-bar-link>
        </li>
        <li>
            <sc-nav-bar-link id="activity"></sc-nav-bar-link>
        </li>
        <li>
            <sc-nav-bar-link id="trade"></sc-nav-bar-link>
        </li>
        <li>
            <sc-nav-bar-link id="preferences"></sc-nav-bar-link>
        </li>
    </ul>
    </div>
</nav>