
.filters{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 2% 1%;
    background-color: rgb(243, 230, 213);
    cursor: pointer;
}

.filter-elements{
    padding-right: 5%;
}

.filterBtn {
    display: flex;
    flex-direction: row;
    margin-top: 2.5em;
}


.fa-arrow-right {
    margin-left: -0.5em;
    padding-top: 0.7em;
    padding-right: 0.5em;
    background-color: #568200;
    color: white;

}



