.logo {
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-size: 32px;
    line-height: 3rem;
    box-sizing: content-box;
    color: #FFF;
    background-color: #568200;
  }
  
  sup {
    font-size: 18px;
    font-weight: bold;
  }
  