<div class="filters">
    <div class="filter-elements">
        <app-label-dropdown-form-control  [labelFor]="labelForA" [labelTxt]="labelTxt" [selectName]="selectName" [OPTIONS]="OPTIONS">
        </app-label-dropdown-form-control>
    </div>

</div>

<div *ngIf="dropdownValue == 'Select Type of Account'">
    <app-empty-page-message [msg] = 'noAcct'></app-empty-page-message>
</div>
<div *ngIf="dropdownValue == 'Brokerage'">
    <app-brokerage-summary></app-brokerage-summary>
    <app-brokerage-table></app-brokerage-table>
</div>
<div *ngIf="dropdownValue != 'Select Type of Account' && dropdownValue != 'Brokerage'">
    <app-empty-page-message [msg] = 'noData'></app-empty-page-message>
</div>
