<div class="filters">
    <div class="filter-elements">
        <sc-atom-form-label [labelFor]="labelForA" [labelTxt]="labelTxt"></sc-atom-form-label>
        <select class="custom-select" [(ngModel)]="selectedValue" id="selectBar" [name]="selectName" >
            <option *ngFor="let option of OPTIONS" value="{{ option }}" >{{ option }}</option>
        </select>
    </div>
</div>

<div *ngIf="selectedValue == 'Select Type of Account'">
    <app-empty-page-message [msg] = 'noAcct'></app-empty-page-message>
</div>
<div *ngIf="selectedValue == 'Brokerage'">
    <app-brokerage-summary></app-brokerage-summary>
    <div class="table">

        <app-brokerage-table></app-brokerage-table>
    </div>
</div>
<div *ngIf="selectedValue != 'Select Type of Account' && selectedValue != 'Brokerage'">
    <app-empty-page-message [msg] = 'noData'></app-empty-page-message>
</div>
