.header {
    font-family: 'Fidelity Sans', arial, sans-serif;
    font-size: 32px;
    line-height: 1.5em;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    color: #000;
  }

  #id {
    font-size: 25px;
}