#buy-trade-form {
    display: block;
    margin: 0 auto;
    width: 300px;    
}

#red-alert-box {
    margin-top: 1.5rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

#btn-form-group {
    margin: 2.5rem 0;
}