<sc-nav-bar [historyActive]=true></sc-nav-bar>
<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <sc-atom-form-label [labelFor]="labelForA" labelTxt="By Account"></sc-atom-form-label>
        <select class="custom-select" (change)='applyFilters("filter1")' id="filter1">
            <option disabled>Select an account</option>
            <option *ngFor="let option of OPTIONS1">{{ option }}</option>
        </select>
    </div>

    <div class="col-md-2">
        <sc-atom-form-label [labelFor]="labelForB" labelTxt="By Asset "></sc-atom-form-label>
        <select (change)='applyFilters("filter2")' class="custom-select" id="filter2">
            <option disabled>Select an Asset</option>
            <option *ngFor="let option of OPTIONS2">{{ option }}</option>
        </select>
    </div>

    <div class="col-md-2">
        <sc-atom-form-label  [labelFor]="labelForC" labelTxt="By trade"></sc-atom-form-label>
        <select class="custom-select" (change)='applyFilters("filter3")' id="filter3">
            <option disabled>Select trade</option>
            <option *ngFor="let option of OPTIONS3">{{ option }}</option>
        </select>
    </div>
    <div class="col-md-2">
        <div id="Btn">
            <sc-atom-button (click)="getFilteredTable()" btnClass="btn btn-block" btnValue="Go" btnId="go-btn">
            </sc-atom-button>
        </div>
    </div>
    <div class="col-md-2">
        <div id="Btn1">
            <sc-atom-button (click)="reset()" btnClass="btn btn-block" btnValue="Reset" btnId="reset-btn">
            </sc-atom-button>
        </div>
    </div>
</div>
<div id="table">
    <app-table-header [COLUMNS]="COLUMNS" [VALUES]="VALUES"></app-table-header>
</div>