<sc-nav-bar [historyActive]=true></sc-nav-bar>
<div class="row">
    <div class="col-sm-12">
        <div class="filters">
            <div class="filter-elements">
                <sc-atom-form-label [labelFor]="labelForA" [labelTxt]="labelTxt1"></sc-atom-form-label>
                <select class="custom-select" (change)='applyFilters("filter1")' id="filter1">
                    <option disabled>Select an account</option>
                    <option *ngFor="let option of OPTIONS1">{{ option }}</option>
                </select>
            </div>

            <div class="filter-elements">
                <sc-atom-form-label [labelFor]="labelForB" [labelTxt]="labelTxt2"></sc-atom-form-label>
                <select (change)='applyFilters("filter2")' class="custom-select" id="filter2">
                    <option disabled>Select an assett</option>
                    <option *ngFor="let option of OPTIONS2">{{ option }}</option>
                </select>
            </div>

            <div class="filter-elements">
                <sc-atom-form-label [labelFor]="labelForC" [labelTxt]="labelTxt3"></sc-atom-form-label>
                <select class="custom-select" (change)='applyFilters("filter3")' id="filter3">
                    <option disabled>Select trade</option>
                    <option *ngFor="let option of OPTIONS3">{{ option }}</option>
                </select>
            </div>
            
            <div class="filter-elements">
                <div id="Btn">
                    <sc-atom-button (click)="getFilteredTable()" btnClass="btn btn-block" btnValue="Go"
                        btnId="go-btn">
                    </sc-atom-button>
                </div>
            </div>
            <br>

            <div class="filter-elements">
                <div id="Btn1">
                    <sc-atom-button (click)="reset()" btnClass="btn btn-block" btnValue="Reset" btnId="reset-btn">
                    </sc-atom-button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="table">
    <app-table-header [COLUMNS]="COLUMNS" [VALUES]="VALUES"></app-table-header>
</div>