button {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 0 1rem;
    
  
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-size: 32px;
    line-height: 1.5em;
    text-align: center;
    display: block;
    
    background-color: #568200;
    color: white;
  }

  button:hover {
    cursor: pointer;
  }