button {
  background-color: #ffbe0b;
  border-radius: 5px;
  color: black;
  font-weight: bold;
  margin-top: 3rem;
}

button:disabled {
    background-color: #ffbe0b;
    cursor: not-allowed;
    opacity: 1;
}

#btnId{
  width: 500px;
}

#go-btn, #reset-btn{
  width: 175px;
  margin-top: 30px;
}

#reset-btn {
  background-color: #DDDDDD;
}

