button {
    width: 100%;
    border: none;
    box-sizing: border-box;
    padding: 0.5rem;
    
  
    font-family: 'Fidelity Sans', Arial, sans-serif;
    font-size: 25px;
    line-height: 1.5em;
    text-align: center;
    display: block;
    
    background-color: #568200;
    color: white;
  }

  button:hover {
    cursor: pointer;
  }

  
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
  background-color: #ffbe0b;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}