<div class="modal"  [style]="display" style="background-color: rgba(0, 0, 0, 0.5)" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content"  >
        <div class="modal-body">
          <p id="value" > <strong>Confirmation</strong></p>
          <p>{{content}}</p>
          <p ><Strong>Amount Receivable</Strong> {{value}}</p>
        </div>
        <div class="modal-footer" style="border-top:0 ; padding-top:0%;">
          <button type="button" class="btn btn-light" data-dismiss="modal" (click)="onNoClick($event)">No</button>
          <button type="button" class="btn btn-success" (click)="onYesClick($event)" >Yes</button>
        </div>
      </div>
    </div>
  </div>