
 button{
  
    color: white;
    border: 0;
    margin-right: 3%;
    width: 6vw;
    height: 6vh;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 3px;

} 

.modal-dialog {
    max-width: 650px;
    
}

.modal-content{
    height: 37vh;
    width: 600vw;
     text-align: center;
      padding: 4vh 3vw 0 3vw ;
     
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1.2px;
}