
 button{
  
    color: white;
    border: 0;
    margin-right: 5%;
    width: 6vw;
    height: 6vh;
    font-size: 100%;
    font-weight: 600;
    letter-spacing: 2px;
    border-radius: 3px;

} 

.modal-dialog {
    max-width: 600px;
    
}

.modal-content{
    height: 35vh;
    width: 600vw;
     text-align: center;
      padding-top: 4vh ; 
    font-size: medium;
    font-weight: 600;
    letter-spacing: 1.2px;
}