.row {
    margin: 3% 8.5%;
}

.card {
    box-shadow: 7px 7px 15px 4px rgba(0, 0, 0, 0.13);
    border: none;
    border-radius: 10px;
}

.card-text {
    font-size: 30px;
    font-family: 'Fidelity Sans', Arial, sans-serif;
}
