<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="#">SmallChange</a>
</nav>
<main>
  <div id="login-form">
    <div class="bg">
      <p>Welcome to SmallChange</p>
      <p class="filler">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quia odio
        ab, fuga a vero provident architecto velit illo autem modi quam facilis
        ea quae voluptate. Libero harum totam at, animi cum nobis ab dolorem
        mollitia omnis, illo suscipit asperiores temporibus cupiditate fugiat.
        Alias quam eligendi animi soluta commodi doloribus, cum nostrum magni
        fugiat laborum nihil similique placeat praesentium labore ad explicabo
        atque minima eos, nemo qui sed veniam, porro ipsum ratione! Unde
        suscipit, est doloremque assumenda amet tempore reiciendis similique
        cumque qui dignissimos repudiandae quo eligendi eos alias consequuntur
        culpa quidem minima tempora esse exercitationem dolorum commodi.
        Deserunt, officiis?
      </p>
    </div>

    <sc-login-form></sc-login-form>
  </div>
</main>
