<nav class="navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" routerLink="#">SmallChange</a>
</nav>
<main>
  <div id="login-form">
    <div class="bg">
      <p>Welcome to SmallChange</p>
      <p class="filler">
        <b>An investment platform for clients with little investment experience and
        low levels of disposable income.</b>
      </p>
      <p class="filler">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Enim
        aspernatur modi debitis doloremque repellendus voluptatibus beatae eos
        sit quos accusamus voluptatum, fugit iure tempora provident magnam
        molestiae odio laboriosam saepe consequuntur omnis nulla. Aliquam
        voluptatibus ratione nemo nihil. Illo totam eos tempora quo ut iusto
        delectus fuga, accusamus obcaecati nisi? Dolorum facere, labore
        reprehenderit vero nulla exercitationem! Explicabo fuga modi accusamus
        autem aut quibusdam doloribus animi aperiam, facere ipsa, unde deserunt
        repellendus at voluptatum porro, minima atque illo ipsam eveniet.
      </p>
    </div>

    <sc-login-form></sc-login-form>
  </div>
</main>
