<div class="container">
    <div class="row">
      
      <div class="col-lg-3"></div>
      <div class="col-lg-6 card">
        <form #buyForm="ngForm" (submit)="onSubmit(buyForm.value)" id="buy-trade-form">
          <app-red-alert *ngIf="insufficientSecurity" boldBanner="Insufficient Security!" banner="Please choose right quantity" ></app-red-alert>
  
          <div class="form-group">
            <label for="security" class="font-weight-bold">Security Ticker:</label>
            <ng2-completer 
              [inputClass]="'form-control'" 
              [datasource]="tickers" 
              [minSearchLength]="1" 
              name="security" 
              id="security" 
              ngModel 
              #security="ngModel"
              (blur)="updateSecurityMarketPrice(security)"
            ></ng2-completer>
            <div *ngIf="security.touched && security.errors">
              <small class="text-danger" *ngIf="security.errors['required']"
                >Please enter a security
              </small>
            </div>
          </div>
  
          <div class="form-group">
            <label for="readOnlySecurityName" class="font-weight-bold"
              >Security Name:</label
            >
            <input
              type="text"
              name="readOnlySecurityName"
              id="readOnlySecurityName"
              class="form-control"
              ngModel
              #readOnlySecurityName="ngModel"
              [value]="securityName"
              readonly="true"
            />
            
          </div>
  
          <div class="form-group">
            <label for="quantity" class="font-weight-bold">Quantity:</label>
            <input
              type="number"
              name="quantity"
              id="quantity"
              class="form-control"
              ngModel
              #quantity="ngModel"
              [class.is-invalid]="quantity.touched && quantity.invalid"
              required
            />
            <div *ngIf="quantity.touched && quantity.errors">
              <small class="text-danger" *ngIf="quantity.errors['required']"
                >Please provide a quantity</small
              >
            </div>
          </div>
  
          <div class="form-group">
            <label for="bankAccount" class="font-weight-bold"
              >Bank Account:</label
            >
            <select
              name="bankAccount"
              class="custom-select"
              id="bankAccount"
              ngModel
              #bankAccount="ngModel"
              required
              [class.is-invalid]="bankAccount.touched && bankAccount.invalid"
            >
              <option value="" disabled selected>Choose a bank account</option>
              <option
                *ngFor="let bankAccount of bankAccountList"
                value="{{ bankAccount }}"
              >
                {{ bankAccount }}
              </option>
            </select>
            <div *ngIf="bankAccount.touched && bankAccount.errors">
              <small class="text-danger" *ngIf="bankAccount.errors['required']"
                >Please choose a bank account</small
              >
            </div>
          </div>
  
          <div class="form-group">
            <label for="readOnlySecurityPrice" class="font-weight-bold"
              >Current Market Price</label
            >
            <input
              type="text"
              id="readOnlySecurityPrice"
              name="readOnlySecurityPrice"
              class="form-control"
              ngModel
              #readOnlySecurityPrice="ngModel"
              [value]="securityPrice"
              readonly="true"
            />
          </div>
  
          <div class="form-group">
            <sc-atom-button
              btnType="submit"
              btnClass="btn btn-block"
              btnId="submit-btn"
              btnValue="Sell"
              [isDisabled]="buyForm.invalid"
              (click)="toggleModalDisplay(buyForm)"
            ></sc-atom-button>
          </div>
        </form>
      </div>
      <div class="col-lg-3"></div>
    </div>
  </div>
  

  



<app-model [display]="dis" (btnNoClick)="toggleModalDisplayOnNo()" (insufficientSecurityClick)="insuffSecurity()" (btnYesClick)="toggleModalDisplayOnYes(buyForm)" (btnCloseClick)="closeBtn(buyForm)" value="123456" [form]="buyForm.value" [modalSuccess]="Success" tradeAction="Sale" ></app-model>

