
.bdr {
    width: 90%;
    margin: auto;
    /* border: 5px solid rgba(0, 128, 255, 0.9) !important; */
    border-radius: 10px;
    /* box-shadow: 0px 0px 10px 0px rgb(0 0.2 0 / 0.2); */
    padding: 0px;

}
/* .ngx-pagination {
    padding-left: 0px !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #c9cdce !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
  
  .ngx-pagination .current:hover {
    background: #696c6d !important;
    border-radius: 20px !important; 
    border: transparent !important;
  } */

  .paginator{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.paginator /deep/ .ngx-pagination .current {
    background: rgb(131, 131, 131);
    border-radius: 4px;
    padding-left: 9px;
    padding-right: 9px;
}

.paginator /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: #d4d4d4;
    border-radius: 3px;
    padding-left: 9px;
    padding-right: 9px;
    text-decoration: none;
}

.paginator /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
    outline: none;
    background: #d4d4d4;
}